<!DOCTYPE html>
<html>
<head>
    <title>理财产品表</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/fileinput/fileinput.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/addcss.css">
    <script src="${request.contextPath}/statics/plugins/fileinput/fileinput.js"></script>
    <script src="${request.contextPath}/statics/plugins/fileinput/zh.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group">
                <input type="text" class="form-control" style="display: inline-block; width: auto;"
                       v-model="search.productName" @keyup.enter="query" placeholder="产品名称">
                <a class="btn btn-default" @click="query">查询</a>
            </div>
            <div class="form-group">
                <#if shiro.hasPermission("product:miner:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                </#if>
                <#if shiro.hasPermission("product:miner:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                </#if>
                <#if shiro.hasPermission("product:miner:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </#if>
    <#if shiro.hasPermission("product:cloud:update")>
    <a class="btn btn-success" @click="shelve1"><i class="fa fa-plus-square"></i>&nbsp;上架</a>
    <a class="btn btn-success" @click="shelve0"><i class="fa fa-minus-square"></i>&nbsp;下架</a>
</#if>
</div>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">产品名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.productName" placeholder="产品名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">单价（元）</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.price" placeholder="单价"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">额定算力</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.stock" placeholder="额定算力"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">机型</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.model" placeholder="机型"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">参考收益</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.remark" placeholder="参考收益"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">电源</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.power" placeholder="电源"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">电费</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.electricityFees" placeholder="电费"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">管理费</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.managementExpense" placeholder="管理费"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">产品介绍</div>
            <div class="col-sm-10">
                <!--<textarea class="layui-textarea" id="LAY_demo1" style="display: none">
                </textarea>-->
               <div id="editor" style="width: 710px;">
               </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.createAt" placeholder="创建时间" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">更新时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="minerProduct.updateAt" placeholder="更新时间" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>

</div>
</div>
</div>


<!-- 图片预览 -->
<div id="imgLayer" style="display: none; padding: 10px;">
    <div class="itemb tabitem">
        <form class="form-horizontal" method="post" id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for=" " class="col-sm-2 control-label">商品相册</label>
                <div class="col-sm-10">
                    <!-- <div id="gallery" v-for>
                      <img src="${request.contextPath}/public/favicon.ico" width="70" height="70" alt="">
                 </div> -->
                    <div class="file-loading col-sm-10">
                        <input id="input-702" name="files" type="file" multiple>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script src="${request.contextPath}/statics/js/modules/product/minerProduct.js?_${.now?long}"></script>

</body>
</html>